/* Styles for C# Code Format http://www.manoli.net/csharpformat/format.aspx */

.csharpcode .rem, .highlight .c1, .highlight .cs, .highlight .c, .highlight .cm, .highlight .nn { color: #008000; }
.csharpcode .kwrd, .highlight .kt, .highlight .k, .highlight .kd { color: #0000ff; }
.csharpcode .str, .highlight .s, .highlight .s1 { color: #a31515; }
.csharpcode .op { color: #0000c0; }
.csharpcode .preproc { color: #cc6633; }
.csharpcode .asp { background-color: #ffff00; }
.csharpcode .html { color: #800000; }
.csharpcode .attr, .highlight .na { color: #ff0000; }
.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}
.csharpcode .lnum { color: #606060; }

/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
pre code {
  font-family: Consolas,Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  font-size: 0.85em;
  line-height: 1.5;
  display: block;
  background: #fff;
  color: #000;
  border: solid 1px #eee;
  box-shadow: 1px 1px 2px #aaa;
  margin: 10px 0 8px 0;
  padding: 5px 15px;
  overflow-x: auto;
  word-wrap: break-word;
}

.highlight .m { color: #009999 } /* Literal Number */
.highlight .o, .highlight .p, .highlight .p-indicator, .highlight .nv { color: #666666 } /* Operator */
