{% if comment.url %}
<a href="{{ comment.url }}" rel="nofollow">
  <img alt="Avatar for {{ comment.name | xml_escape }}" src="{{comment.avatar}}" class="avatar" height="48" width="48">
</a>
{% else %}
<img alt="Avatar for {{ comment.name | xml_escape }}" src="{{comment.avatar}}" class="avatar" height="48" width="48">
{% endif %}

<blockquote id="{{ comment.id }}">
  <cite>
    <span class="author">
      {% if comment.url %}
        <a href="{{ comment.url }}" rel="nofollow">{{ comment.name | xml_escape }}</a>
      {% else %}
        {{ comment.name | xml_escape }}
      {% endif %}
    </span>
    <span class="bullet">•</span>
    <a href="#{{ comment.id }}" class="muted" title="{{ comment.date | date_to_rfc822 }}">
      {{ comment.date | date: '%B' }}
      {% assign d = comment.date | date: "%-d" %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{d}}st,
        {% when '2' or '22' %}{{d}}nd,
        {% when '3' or '23' %}{{d}}rd,
        {% else %}{{d}}th,
      {% endcase %}
      {{ comment.date | date: '%Y' }}
    </a>
  </cite>
  <div class="comment-body">{{ comment.message | markdownify }}</div>
</blockquote>
