<!DOCTYPE HTML>
{% if site.lang %}
<html lang="{{ site.lang }}">
{% else %}
<html>
{% endif %}
<head>
	<meta charset="utf-8">

	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="d-rUpIyjIRYBxTvsO5vPJ77I1uCm9yw5X22yyP10c_U" />

	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><![endif]-->
	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800' rel='stylesheet' type='text/css'>
	<link href="/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/js/utils.js"></script>
	<script src="/js/slash.js" async></script>
	<script src="/js/md5.min.js" async></script>
	<script src="/js/comment-box.js" async></script>
	{% seo %}
	{% include google_analytics.html %}
</head>
