<script>
  _native.init("CKYIT2QJ", {
    targetClass: 'native-js',
    display: 'flex',
    visibleClass: 'native-show'
  });
</script>
<div class="native-js">
  <a href="#native_link#" class="native-flex">
    <style>
    .native-js {
      background: linear-gradient(-30deg, #native_bg_color#E5, #native_bg_color#E5 45%, #native_bg_color# 45%) #fff;
    }

    .native-details {
      color: #native_color# !important;
    }

    .native-details:hover {
      color: #native_color_hover# !important;
    }

    .native-cta {
      color: #native_cta_color#;
      background-color: #native_cta_bg_color#;
    }

    .native-cta:hover {
      color: #native_cta_color_hover;
      background-color: #native_cta_bg_color_hover#;
    }
    </style>
    <div class="native-main">
      <img class="native-img" src="#native_logo#">
      <div class="native-details">
        <span class="native-company">#native_company#</span>
        <span class="native-desc">#native_desc#</span>
      </div>
    </div>
    <span class="native-cta">#native_cta#</span>
  </a>
</div>
