#carbonads {
  display: block;
  z-index: 100;

  a {
    color: #333333;

    :hover {
      color: #4466c5;
    }
  }

  span {
    display: block;
    overflow: hidden;
  }
}

.carbon-img {
  display: block;
  margin: 0 auto 8px;
  text-align: center;
  line-height: 1;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
}

.carbon-poweredby {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}

@media only screen and (min-width: 350px) and (max-width: 1289px) {
  #carbonads {
    height: 100px;
    margin: 1rem auto 0;
    position: relative;
    width: 100%;
  }

  .carbon-img img {
    border-radius: .25rem;
    float: left;
    margin: 0 0 .5rem 0;
    width: 130px;
  }

  .carbon-text {
    display: block;
    float: left;
    margin-left: 10px;
    text-align: left;
    width: 160px;
  }

  .carbon-poweredby {
    bottom: 0;
    display: inline-block;
    left: 140px;
    position: absolute;
  }
}

@media only screen and (min-width: 1290px)  {
  #carbonads {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    text-align: right;
    width: 140px;
  }
}
