.native-js {
  visibility: hidden;
  max-width: 800px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0;
  transition: all .25s ease-in-out;
}

.native-show {
  visibility: visible;
  margin-top: 20px;
  border: solid 1px #eee;
  opacity: 1;
}

.native-img {
  margin-right: 20px;
  max-height: 50px;
  border-radius: 3px;
}

.native-flex {
  display: flex;
  padding: 20px 20px;
  text-decoration: none;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.native-main {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
}

.native-details {
  display: flex;
  margin-right: 30px;

  flex-flow: column nowrap;
}

.native-company {
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.native-desc {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
}

.native-cta {
  padding: 10px 14px;
  border-radius: 3px;
  box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  transition: all .3s ease-in-out;
  transform: translateY(-1px);
}

.native-cta:hover {
  box-shadow: none;
  transform: translateY(1px);
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .native-flex {
    flex-direction: column;

    flex-wrap: wrap;
  }

  .native-img {
    margin: 0;
  }

  .native-details {
    margin: 0;
  }

  .native-main {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;

    flex-wrap: wrap;
    align-content: center;
  }
}
