{% if post.comments %}
{% capture post_default_slug %}{{ post.slug | default: (post.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (post.slug | fallback: post_default_slug) | downcase }}{% endcapture %}
<span class="comments"><a href="{{ post.url }}#comments">{{  site.data.comments[slug] | size }} comments</a></span>
{% endif %}
{% if page.comments %}
{% capture page_default_slug %}{{ page.slug | default: (page.title | slugify) }}{% endcapture %}
{% capture slug %}{{ (page.slug | fallback: page_default_slug) | downcase }}{% endcapture %}
<span class="comments"><a href="{{ page.url }}#comments">{{  site.data.comments[slug] | size }} comments</a></span>
{% endif %}
