{% include head.html %}

<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
				<header id="header" class="inner">{% include header.html %}</header>
			</div>
		</div>
		<div class="mid-col">
			<div class="mid-col-container">
				<script async src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=haackedcom" id="_carbonads_js"></script>
				<div id="content" class="inner">{{ content }}</div>
			</div>
			<footer id="footer" class="inner">{% include footer.html %}</footer>
		</div>
	</div>
</body>
</html>
